<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>webhook</title>
</head>
<body>
    <h1>webhook</h1>
    <p>url: <a href="{{ .url }}">{{ .url }}</a></p>
    <p>logs: <a href="{{ .urllogs }}">{{ .urllogs }}</a></p>


</body>
</html>