<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>webhook</title>
    <meta name="robots" content="noindex,nofollow">
</head>
<body>
    <h1>logs</h1>
    {{range  .logs}}
    <h2>Request</h2>
    <b>{{.URL}}</b><br/>
    <b>{{.Method}}</b>
    <h3>headers<h3>
    <code>{{ .Headers }}</code>
    <h3>body<h3>
        <code>{{ .Body }}</code>
    {{end}}

</body>
</html>