<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>webhook</title>
    <meta name="robots" content="noindex,nofollow">
</head>
<body>
    <h1>password needed</h1>
    need to enter password
    <form method="POST" action="/log/{{ .id }}/logs">
     <input type="password" name="password" />
     <input type="submit" value="submit" />
    </form>


</body>
</html>